/* .footer{
    background-color: lightgray;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-top: 1px solid gray;
    bottom: 0px;
    position: absolute;
    width: 100%;
} */
.footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    bottom: 0px;
    width: 98.83%;
  }